@charset "UTF-8";
/*
phone           0 - 600px:      Smarthphone
tab-port        600 - 900px:    Tablet portrait
tab-land        900 - 1200px:   Tablet landscape
                1200 - 1800px:  Desktop
big-desktop     1800px +:       Big desktop

1em=16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.6rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.6rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1.6rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  /* font-size: 10px;Imposto 10px per comodità e poi esprimo tutto in termini di rem, dove 1rem=10px. Dopo trasformo i 10px in percentuale. (10/16)x100=62.5% */
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 44%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #f4daa2;
  color: #5a410b; }

body {
  position: relative;
  /* font-size: 1.6rem; */
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #333; }

.primary-head {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  backface-visibility: hidden; }
  .primary-head--01 {
    display: block;
    font-size: 8rem;
    letter-spacing: .4rem;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1.2s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .primary-head--01 {
        letter-spacing: 0;
        font-size: 5rem; } }
  .primary-head--02 {
    display: block;
    font-size: 120%;
    letter-spacing: .8rem;
    text-align: center;
    animation: moveInRight 1.2s ease-out;
    /* animation-name: moveInRight;
        animation-duration: 1.2s;
        animation-timing-function: ease-out; */ }
    @media only screen and (max-width: 37.5em) {
      .primary-head--02 {
        letter-spacing: .5rem;
        font-size: 5rem; } }

.secondary-head {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #f4daa2, #b58215);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .4s; }
  @media only screen and (max-width: 56.25em) {
    .secondary-head {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .secondary-head {
      font-size: 2.5rem; } }
  .secondary-head:hover {
    transform: skewY(2deg) skewX(16deg) scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.tertiary-head {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2.5rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: .8;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 2rem;
  letter-spacing: .3rem;
  margin-top: 9.6rem;
  position: relative;
  transition: all .2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.5);
  backface-visibility: hidden; }
  .btn:hover::after {
    transform: scale(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.3); }

.btn--pri {
  color: #333;
  background-color: rgba(244, 218, 162, 0.8); }

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: inline-block;
  border-radius: 2rem;
  transition: all .4s; }

.btn--pri::after {
  background-color: rgba(244, 218, 162, 0.8); }

.btn--animated {
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text, .btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 1.2rem 1.8rem;
  background-color: rgba(244, 218, 162, 0.8);
  border-radius: 2rem;
  transition: all .4s;
  border: none;
  cursor: pointer; }

.btn-text:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.5);
  backface-visibility: hidden; }

.btn-text:active, .btn-text:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.3);
  outline: none; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
    height: 52rem;
    transition: all 1s ease; }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #f4daa2, #b58215); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__image {
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    height: 23rem; }
    .card__image-1 {
      background-image: linear-gradient(to right bottom, #f4daa2, #b58215), url("../img/image1.jpg"); }
    .card__image-2 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/image2.jpg"); }
    .card__image-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/image3.jpg"); }
  .card__head {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.8rem;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__head--span {
    padding: 1rem 3rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__head--span-1 {
      background-image: linear-gradient(to right bottom, rgba(244, 218, 162, 0.8), rgba(181, 130, 21, 0.8)); }
    .card__head--span-2 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__head--span-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__detail {
    padding: 3rem; }
    .card__detail ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__detail ul li {
        font-size: 1.6rem;
        text-align: center;
        padding: 1rem; }
        .card__detail ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; }
  .card__price-box {
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 2rem auto; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em) {
    .card {
      height: auto;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
      .card__side {
        position: relative;
        height: auto;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          -webkit-clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 100%, 0 100%);
          margin-top: -10%; }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__back {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 2rem 0 3rem 0; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4.5rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 58%;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;
    transition: all .4s; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3333333%;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4); } }
    .composition__photo--1 {
      top: -2rem;
      left: 0; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--1 {
          top: 1rem;
          transform: scale(1.1); } }
    .composition__photo--2 {
      top: 2rem;
      right: 0; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--3 {
      top: 10rem;
      left: 20%; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--3 {
          top: 1.5rem;
          left: 0;
          transform: scale(1.2); } }
    .composition__photo:hover {
      transform: scale(1.05) translateY(0.5rem);
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
      outline: 0.5rem solid rgba(244, 218, 162, 0.8);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: .4rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  padding: 2rem 1.5rem;
  transition: all .4s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 1.8rem; } }
  .feature-box__icon {
    font-size: 8rem;
    background-image: linear-gradient(to right, #f4daa2, #b58215);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-0.5rem) scale(1.05); }
  .feature-box__text {
    font-size: 1.5rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 2rem;
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  transition: all .4s ease-in; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid #b58215; }
  .form__input::-webkit-input-placeholder {
    color: #b58215; }
  .form__input:focus:invalid {
    border-bottom: 3px solid red; }

.form__label {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  color: #fff;
  transition: all .4s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 30%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
  margin-left: .6rem;
  cursor: pointer;
  padding-left: 3rem;
  position: relative; }

.form__radio-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: inline-block;
  border: 0.3rem solid #f4daa2;
  position: absolute;
  top: 0;
  left: 0; }
  .form__radio-button::after {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4daa2;
    opacity: 0;
    transition: all .4s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76%;
    background-color: #fff;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .6s ease-in; }
  .popup__left {
    width: 34%;
    display: table-cell; }
  .popup__right {
    width: 66%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: -4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #5a410b;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #5a410b;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #5a410b;
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    font-size: 5rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
  .popup__close:hover, .popup__close:active {
    color: #b58215; }

.testimonial {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6rem;
  padding-left: 9rem;
  -webkit-clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  font-size: 1.6rem; }
  @media only screen and (max-width: 56.25em) {
    .testimonial {
      width: 100%;
      padding: 5rem;
      padding-left: 7rem; } }
  .testimonial__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem); }
  .testimonial__image {
    height: 100%;
    transform: scale(1.2);
    transition: all .4s ease-in;
    backface-visibility: hidden; }
  .testimonial__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all .4s ease-in;
    backface-visibility: hidden; }
  .testimonial:hover .testimonial__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .testimonial:hover .testimonial__image {
    transform: scale(1);
    filter: blur(3px) brightness(70%); }

.footer {
  background-image: url("../img/footer.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 0 90%);
  clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 0 90%);
  margin-top: -10vh;
  padding: 6rem 0;
  font-size: 1.4rem;
  color: inherit; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 3rem; }
  .footer__logo {
    width: 9rem;
    height: 9rem; }
  .footer__navigation {
    border-top: 1px solid #f4daa2;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%; } }
  .footer__list {
    list-style: none; }
  .footer__item:link, .footer__item:visited {
    transition: all .4s; }
  .footer__item:hover, .footer__item:active {
    transform: translateX(8px); }
  .footer__item:not(:last-child) {
    margin-bottom: 2rem; }
  .footer__link {
    padding: 1rem 2rem;
    border-radius: 8px; }
    .footer__link:link, .footer__link:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      transition: all .4s; }
    .footer__link:hover, .footer__link:active {
      color: #f4daa2;
      box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.4); }
  .footer__social {
    float: right;
    margin-right: 5rem;
    border-top: 1px solid #b58215;
    padding-top: 2rem;
    display: inline-block; }
  .footer__icon {
    height: 3rem;
    width: 3rem;
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    display: inline-block;
    transition: all .4s; }
    .footer__icon-1:hover, .footer__icon-1:active {
      color: #3b5999;
      transform: scale(1.25);
      box-shadow: 0 1rem 2rem 2rem rgba(255, 255, 255, 0.4); }
    .footer__icon-2:hover, .footer__icon-2:active {
      color: #e4405f;
      transform: scale(1.25);
      box-shadow: 0 1rem 2rem 2rem rgba(255, 255, 255, 0.4); }
    .footer__icon-3:hover, .footer__icon-3:active {
      color: #55acee;
      transform: scale(1.25);
      box-shadow: 0 1rem 2rem 2rem rgba(255, 255, 255, 0.4); }
    .footer__icon-4:hover, .footer__icon-4:active {
      color: #cd201f;
      transform: scale(1.25);
      box-shadow: 0 1rem 2rem 2rem rgba(255, 255, 255, 0.4); }
  .footer__copyright {
    color: #f4daa2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 60%;
    border-radius: 3px;
    padding: 1rem 2rem;
    margin: 0 auto 1.5rem auto; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="column-"] {
    float: left; }
    .row [class^="column-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="column-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="column-"] {
        width: 100% !important; } }
  .row .column-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .column-1-of-3 {
    width: calc((100% - (6rem * 2)) / 3); }
  .row .column-2-of-3 {
    width: calc(2 * ((100% - (6rem * 2)) / 3) + 6rem); }
  .row .column-1-of-4 {
    width: calc((100% - (6rem * 3)) / 4); }
  .row .column-2-of-4 {
    width: calc(2 * ((100% - (6rem * 3)) / 4) + 6rem); }
  .row .column-3-of-4 {
    width: calc(3 * ((100% - (6rem * 3)) / 4) + 2 * 6rem); }
  .row .column-1-of-5 {
    width: calc((100% - (6rem * 4)) / 5); }
  .row .column-4-of-5 {
    width: calc(4 * ((100% - (6rem * 4)) / 5) + 3 * 6rem); }
  .row .column-3-of-5 {
    width: calc(3 * ((100% - (6rem * 4)) / 5) + 2 * 6rem); }
  .row .column-2-of-5 {
    width: calc(2 * ((100% - (6rem * 4)) / 5) + 6rem); }
  .row .column-1-of-6 {
    width: calc((100% - (6rem * 5)) / 6); }
  .row .column-2-of-6 {
    width: calc(2 * ((100% - (6rem * 5)) / 6) + 6rem); }
  .row .column-3-of-6 {
    width: calc(3 * ((100% - (6rem * 5)) / 6) + 2 * 6rem); }
  .row .column-4-of-6 {
    width: calc(4 * ((100% - (6rem * 5)) / 6) + 3 * 6rem); }
  .row .column-5-of-6 {
    width: calc(5 * ((100% - (6rem * 5)) / 6) + 4 * 6rem); }

.header {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(244, 218, 162, 0.9), rgba(244, 218, 162, 0.2)), url("../img/background-1.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 95vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%); }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header__logo {
    width: 5.5rem;
    height: auto; }
  .header__head-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(rgba(181, 130, 21, 0.92), rgba(90, 65, 11, 0.99));
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: .5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  color: #eee;
  text-transform: uppercase;
  background-size: 220%;
  padding: .8rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  transition: all .4s ease-out; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #b58215;
  transform: translateX(1.2rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon {
    width: 2.8rem;
    height: 2px; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    background-color: #5a410b;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    width: 3.2rem;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all .3s ease-out; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon {
  background-color: #f4daa2; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
  background-color: #b58215; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
  background-color: #b58215; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  left: -.6rem;
  width: 4rem;
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  left: -.6rem;
  width: 4rem;
  top: 0;
  transform: rotate(-135deg); }

.about {
  background-color: #c3ffd5;
  padding: 15rem 0;
  margin-top: -10%; }
  @media only screen and (max-width: 56.25em) {
    .about {
      padding: 12rem 0; } }

.features {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom, rgba(244, 218, 162, 0.9), rgba(244, 218, 162, 0.2)), url("../img/background-3.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  margin-top: -10%; }
  @media only screen and (max-width: 56.25em) {
    .features {
      padding: 15rem 0 12rem 0;
      -webkit-clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
      clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%); } }

.plans {
  background-image: linear-gradient(to bottom, rgba(195, 255, 213, 0.9), rgba(195, 255, 213, 0.2));
  padding: 15rem 0 5rem 0;
  margin-top: -10%; }
  @media only screen and (max-width: 56.25em) {
    .plans {
      padding: 18rem 0 8rem 0;
      margin-top: -10%; } }

.testimonials {
  position: relative;
  padding: 15rem 0;
  -webkit-clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  margin-top: -10%; }
  @media only screen and (max-width: 56.25em) {
    .testimonials {
      padding: 18rem 0 8rem 0;
      -webkit-clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
      clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%); } }

.booking {
  padding: 25rem 0 15rem 0;
  background-image: linear-gradient(to top, rgba(195, 255, 213, 0.9), rgba(195, 255, 213, 0.2));
  margin-top: -10%; }

.book {
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 44%, transparent 50%), url("../img/background-4.jpg");
  background-size: cover;
  background-position: center;
  border-radius: .8rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 64%, transparent 70%), url("../img/background-4.jpg"); } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 100%), url("../img/background-4.jpg"); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 70%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }

/* COLORS

$col-pri-li= ;
$col-pri-dar= ;

*/
/* h1 {
    position: absolute;
  
    background-color: rgba(0,0,0,.3);
    padding: 4px;
    border-radius: 8px;
    width: 60%;
    /* padding: 0 auto; */
/* clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 140%, 0 90%); */
